.filterButtons {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  gap: 7px;
}


.card {
  width: calc(100% / 4) !important;
  padding: 10px;
}

@media screen and (max-width: 1199px) {
  .card {
    width: calc(100% / 3) !important;
  }
}

@media screen and (max-width: 990px) {
  .card {
    width: calc(100% / 2) !important;
  }
}

@media screen and (max-width: 767px) {
  .filterButtons {
    flex-wrap: wrap;
  }
  .filterButtons > button{
    font-size: 12px;
  }
  .card {
    max-width: 380px !important;
    width: 100% !important;
  }
}