.header {
  font-size: 18px;
}

.item {
  text-decoration: none;
  color: black;
  padding-top: 8px;
  width: 80px;
  text-align: center;
}

.active {
  text-decoration: none;
  font-weight: 650;
  padding-top: 8px;
  width: 80px;
  text-align: center;
}