.header {
  font-size: 18px;
}

.item {
  text-decoration: none;
  color: black;
  margin-top: 8px;
  width: 80px;
  text-align: center;
}

.active {
  text-decoration: none;
  color: rgb(92, 91, 91);
  margin-top: 8px;
  width: 80px;
  text-align: center;
}

.nav{
  margin: 0 170px 0 312px;
}