.content {
  min-height: calc(100vh - 80px);
}

.cardItem {
  transition: all 0.5s ease;
}

.cardItem:hover {
  transform: scale(1.05);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.product-container {
  padding: 20px 10px;
  display: flex;
  justify-content: center;
}

.product {
  display: flex;
  width: 600px;
}

.product img {
  transition: all 0.5s ease;
  margin: 0 auto;
}

.product-desc {
  margin-left: 30px;
}

.closeBtn {
  margin-left: auto;
}

.product-add-remove {
  display: flex;
}

.product-add-remove > button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 13px 5px 10px 0px;
}

.product img:hover {
  transform: scale(1.05);
}

.empty {
  text-align: center;
  font-size: 50px;
  margin-top: 120px;
}

.about img{
  margin: 10px 15px 20px 15px;
  width: 280px;
  display: inline-block;
  transition: all 0.5s ease;
}

.about img:hover{
  transform: scale(1.1);
}

.contact img{
  margin-top: 60px;
  width: 300px;
  height: 200px;
}

.footer {
  text-align: center;
  margin-bottom: 15px;
}
