.cardItem {
  transition: all 0.5s ease;
}

.cardItem:hover {
  transform: scale(1.04);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

.product img {
  transition: all 0.5s ease;
}

.product img:hover {
  transform: scale(1.3);
}
